.button {
  font-size: 1.4em;
  border: none;
  outline: none;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.light .button {
  color: #000;
  background-color: #f7f7f7;
}

.light .button:hover {
  background-color: #c4c4c4;
}

.light .button.operation:active {
  background-color: #ababab;
}

.dark .button {
  color: #fff;
  background-color: #282b33;
}

.dark .button:hover {
  background-color: #555b6c;
}

.dark .button.operation:active {
  background-color: #6b7389;
}

.button.double {
  grid-column: span 2;
}

.button.triple {
  grid-column: span 3;
  color: red;
}

.button.operation {
  color: green;
}
