@import "./../variables"; // Import @variables

.button {
    font-size: 1.4em;
    background-color: $light-button;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        background-color: darken($light-button, 20%);
    }
}


.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
    color: red;
}

.button.operation {
    color: green;
}

.button.operation:active {
    background-color: darken($light-button, 30%);
}
