@import "./../variables"; // Import @variables

.display-mode {
    margin-bottom: 10%;
    button {
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        height: 40px;
        .icon {
            margin: 20px;
        }
    }

    .light-theme-button {
        border-radius: 10px 0px 0px 10px;
    }

    .dark-theme-button {
        border-radius: 0px 10px 10px 0px;
    }
}

.light {
    .display-mode {
        button {
            background: $light-darker;
            &:hover {
                background-color: darken($light-darker, 5%);
            }

            .icon{
                color: #000;
            }

            &:not(.active) {
                .icon {
                    color: lighten(#000, 30%);
                }
            }
        }
    }
}

.dark {
    .display-mode {
        button {
            background: $dark-light;
            &:hover {
                background-color: darken($dark-light, 5%);
            }

            .icon{
                color: #fff;
            }

            &:not(.active) {
                .icon {
                    color: darken(#fff, 30%);
                }
            }
        }
    }
}
