@import "./../variables"; // Import @variables

.button {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-size: 1.4em;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.light {
    .button {
        color: $light-font-color;
        background-color: $light-button;

        &:hover {
            background-color: darken($light-button, 20%);
        }
    }

    .button.operation:active {
        background-color: darken($light-button, 30%);
    }
}

.dark {
    .button {
        color: $dark-font-color;
        background-color: $dark-button;

        &:hover {
            background-color: lighten($dark-button, 20%);
        }
    }

    .button.operation:active {
        background-color: lighten($dark-button, 30%);
    }
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
    color: red;
}

.button.operation {
    color: green;
}
