.display {
    grid-column: span 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    font-size: 2.1em;
    overflow: hidden;
    flex-direction: column;

    .values {
        font-weight: lighter;
        font-size: smaller;
        margin-bottom: 10px;
    }
    .result {
        font-weight: bold;
    }
}
