@font-face {
  font-family: "Roboto";
  src: url("./../../fonts/Roboto-Regular.ttf");
}

* {
  font-family: "Roboto", monospace;
}

body {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.light {
  background-color: #ffffff;
  color: #000;
}

.dark {
  background-color: #22252d;
  color: #fff;
}
