// Light
$light-background: #ffffff;
$light-darker: #f9f9f9;
$light-button: #f7f7f7;

@media (prefers-color-scheme: dark) {
    // Dark
    $dark-background: #22252d;
    $dark-light: #2a2d37;
    $dark-button: #282b33;
}
